<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>List of members</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<style type="text/css">


    /*
	Side Navigation Menu V2, RWD
	===================
	Author: @heyPablete

 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background:url(https://apptrigger.com/files/2018/08/tft-galaxies-returntothestars-sky-background-1-compressed.jpg);
 	font-family: 'Oxygen', sans-serif;
	    background-size: cover;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;

  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
img{
border-radius:50%;
   height:120px;
   width: 120px;
</style>





<body>

<div th:switch="${champs}" class="container my-5">

    <p class="my-5">
        <a href="/addchamp" class="btn btn-primary">
            <i class="fas fa-user-plus ml-2"> Add New Champ </i></a>
    </p>
    <a href="/adminview" class="btn btn-primary">
        <i class="fas fa-home ml-2"> Back to Admin Page </i></a>

    <h2 th:case="null">No record found !!</h2>
    <div th:case="*">
        <table class="container">
            <thead>
            <tr>
                <th><h1>Id</h1></th>
                <th><h1>Champ Name</h1></th>
                <th><h1>Image</h1></th>
                <th><h1>Cost</h1></th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="champ : ${champs}">
                <td th:text="${champ.Id}"></td>
                <td th:text="${champ.name}"></td>

                <td > <img  th:src="@{(${champ.Image})}"></td>
                <td th:text="${champ.Cost}"></td>


                <td>  <a th:href="@{/edit-champ/{id}(id=${champ.id})}" class="btn btn-primary">
                    <i class="fas fa-user-edit ml-2"></i>
                </a>
                </td>

                <td>
                    <a th:href="@{/deletechamp/{id}(id=${champ.id})}" class="btn btn-primary">
                        <i class="fas fa-user-times ml-2"></i>
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</div>
</body>

</html>
